* {
  /* background-color: #954b4b; */
}
.homediv {
  background-image: url("./svgBackground/stacked-waves-haikei\ \(1\)\ \(1\).jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 5px;
}

.karticaManja {
  text-decoration: none;
  box-shadow: 0 0 10px 5px grey;
  height: auto;
  border: solid black 1px;
  border-radius: 20%;
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: white;
  /* background-image: url("./svgBackground/blob-scene-haikei.jpg"); */
  padding: 25px;
  margin: 20px;
  margin-left: 50px;
  flex-direction: column;
  flex-wrap: wrap;
}

.autor {
  font-weight: bold;
}

.deskripcijaa {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}
.slike {
  width: 500px;
  height: auto;
  border-radius: 20%;
  overflow: hidden;
  /* padding-top: 100px; */
  /* padding-right: 200px; */
}
.slike img {
  transition: transform 0.5s ease;
}
.slike:hover img {
  transform: scale(1.5);
}
.dugme {
  margin-left: 150px;
  width: 160px;
  height: 70px;
  border-radius: 20%;
}
.dugme :hover {
  background-color: rgb(130, 126, 126) !important;
}
.searchInput {
  position: relative;
  bottom: 65px;
  left: 1600px;
  height: 50px;
  font-size: 18px;
}
.searchbtn {
  position: relative;
  bottom: 65px;
  left: 1500px;
  height: 52px;
  width: 100px;
}
