* {
  /* background-color: #954b4b; */
}
.homediv {
  background-image: url("./svgBackground/stacked-waves-haikei\ \(1\)\ \(1\).jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.kartica {
  height: auto;
  border: solid black 1px;
  border-radius: 20%;
  width: 700px;
  display: flex;
  justify-content: center;
  background-image: url("./svgBackground/blob-scene-haikei.jpg");
  padding: 25px;
  padding-left: 50px;
  margin: 60px;
  margin-left: 100px;
  flex-direction: column;
  flex-wrap: wrap;
}
.karticaManja {
  height: auto;
  border: solid black 1px;
  border-radius: 20%;
  width: 500px;
  display: flex;
  justify-content: center;
  background-image: url("./svgBackground/blob-scene-haikei.jpg");
  padding: 25px;
  margin: 20px;
  margin-left: 50px;
  flex-direction: column;
  flex-wrap: wrap;
}

.autor {
  font-weight: bold;
}

.deskripcijaa {
  font-weight: normal;
  font-size: 20px;
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}
.slike {
  width: 350px;
  height: auto;
  border-radius: 20%;
  /* padding-top: 100px; */
  /* padding-right: 200px; */
}
.dugme {
  margin-left: 150px;
  width: 160px;
  height: 70px;
  border-radius: 20%;
}
.dugme :hover {
  background-color: rgb(131, 126, 126) !important;
}
