.navig {
  height: 80px;
  background-color: yellow;
  width: 1795px;

  padding: 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
}

.navItem {
  text-decoration: none;
  margin: 10px 20px;
}
